<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Test Page</title>
</head>

<body style="background-color:rgb(18,18,18)">
    <header>
        <p style="color:white;font-size:32px">
            Hello and Welcome to the Flask Development Server for the School Database.
            </br>
            Below are the associated API for the students in the database.
        </p>
    </header>
    <ul style="font-size:24px">
        <li><a href="/api/v1/students/" style="color:white"> Students </a></li>
        </br>
        <li><a href="/api/v1/old_students/" style="color:white"> Old Students </a></li>
        </br>
        <li><a href="/api/v1/young_students/" style="color:white"> Young Students </a></li>
        </br>
        <li><a href="/api/v1/advance_students/" style="color:white"> Advanced Students </a></li>
        </br>
        <li><a href="/api/v1/student_names/" style="color:white"> Student Names </a></li>
        </br>
        <li><a href="/api/v1/student_ages/" style="color:white"> Student Ages </a></li>
    </ul>
</body>

</html>